---
import Layout from "../layouts/Layout.astro";
import { db, Record, Reason, desc } from 'astro:db';

if (Astro.request.method === 'POST') {
  const formData = await Astro.request.formData();
  const reason = formData.get('reason');
  const recorded = new Date();
  if (typeof reason === 'string') {
    // Insert form data into the Comment table
    await db.insert(Record).values({ reason, recorded });
  }
}

// Render the new list of comments on each request
const records = await db.select().from(Record).orderBy(desc(Record.id));;
const reasons = await db.select().from(Reason).orderBy(Reason.order);
---
<Layout
title="Sigi"
>

<form method="POST" style="display: grid" class="rounded bg-amber-400 p-4">
  <!-- <label for="reason">Reason</label>
  <input id="reason" name="reason" required class="bg-white mb-4" /> -->
  <label for="reason">Reason</label>
  <select id="reason" name="reason" required class="bg-white mb-4 text-xl">
    <!-- <option value="Apple">Apple</option>
    <option value="Banana">Banana</option> -->
      {
  reasons.map(({ id, name, order }) => (
  <option value={name}>{name}</option>
  ))
  }
  </select>


  <button type="submit" class="bg-amber-700 text-white text-xl font-bold rounded shadow py-2 px-4 mx-auto">Submit</button>
</form>

<h2>Comments</h2>

{
  records.map(({ id, recorded, reason }) => (
    <article class="bg-white p-4 mb-4 shadow rounded">
      <p>ID: {id}</p>
      <p>Recorded: {recorded.toLocaleString("uk-UA", {
  timeZone: "Europe/Kyiv",
})}</p>
      <p>Reason: {reason}</p>
    </article>
  ))
}

</Layout>