---
import Layout from "../layouts/Layout.astro";
import { db, Record, desc, eq, sql } from 'astro:db';

const uaDate = new Date().toLocaleDateString("uk-UA", {
  timeZone: "Europe/Kyiv",
  dateStyle: "long",
});

if (Astro.request.method === 'POST') {
  const formData = await Astro.request.formData();
  const reason = formData.get('reason');
  const recorded = new Date();
  if (typeof reason === 'string') {
    // Insert form data into the Comment table
    await db.insert(Record).values({ reason, recorded });
  }
}

const todaysRecords = await db
  .select()
  .from(Record)
  .where(
    eq(
      sql`date(${Record.recorded}, '+3 hours')`,
      sql`date('now', '+3 hours')`
    )
  )
  .orderBy(desc(Record.id));

const todaysCount = todaysRecords.length;
---
<Layout
title="Sigi"
>

<form method="POST" style="display: grid" class="rounded bg-amber-300 p-4">
  <label for="reason">Reason</label>
  <select id="reason" name="reason" required class="bg-white mb-4 text-xl">
    <option value="Good morning">Good morning</option>
    <option value="Brake">Brake</option>
    <option value="After meal">After meal</option>
	<option value="Emocional">Emocional</option>
	<option value="Good night">Good night</option>
	<option value="Other">Other</option>
  </select>

  <button type="submit" class="bg-amber-700 text-white text-xl font-bold rounded shadow py-2 px-4 mx-auto">Submit</button>
</form>

<h1 class="text-xl font-semibold m-4">{uaDate}</h1>
<h2 class="text-2xl font-black m-4">Today: {todaysCount}</h2>

<table class="min-w-full border border-gray-200 divide-y divide-gray-200">
  <thead class="bg-amber-200">
    <tr>
      <th class="w-24 px-4 py-2 text-left text-sm font-semibold text-gray-700">Time</th>
      <th class="px-4 py-2 text-left text-sm font-semibold text-gray-700">Reason</th>
    </tr>
  </thead>
  <tbody class="divide-y divide-gray-200">
    {todaysRecords.map((record, idx) => (
      <tr class={idx % 2 === 0 ? "bg-white" : "bg-gray-50"}>
        <td class="w-24 px-4 py-2 text-sm text-gray-800">
          {record.recorded.toLocaleTimeString("uk-UA", {
            timeZone: "Europe/Kyiv",
            hour: "2-digit",
            minute: "2-digit",
          })}
        </td>
        <td class="px-4 py-2 text-sm text-gray-800">{record.reason}</td>
      </tr>
    ))}
  </tbody>
</table>



</Layout>