---
import Layout from "../layouts/Layout.astro";
import { db, Record, desc, eq, sql } from 'astro:db';

const uaDate = new Date().toLocaleDateString("uk-UA", {
  timeZone: "Europe/Kyiv",
  dateStyle: "long",
});

if (Astro.request.method === 'POST') {
  const formData = await Astro.request.formData();
  const reason = formData.get('reason');
  const recorded = new Date();
  if (typeof reason === 'string') {
    // Insert form data into the Comment table
    await db.insert(Record).values({ reason, recorded });
  }
}

const todaysRecords = await db
  .select()
  .from(Record)
  .where(
    eq(
      sql`date(${Record.recorded}, '+3 hours')`,
      sql`date('now', '+3 hours')`
    )
  );

const todaysCount = todaysRecords.length;
---
<Layout
title="Sigi"
>

<form method="POST" style="display: grid" class="rounded bg-amber-400 p-4">
  <label for="reason">Reason</label>
  <select id="reason" name="reason" required class="bg-white mb-4 text-xl">
    <option value="Good morning">Good morning</option>
    <option value="Brake">Brake</option>
    <option value="After meal">After meal</option>
	<option value="Emocional">Emocional</option>
	<option value="Good night">Good night</option>
	<option value="Other">Other</option>
  </select>

  <button type="submit" class="bg-amber-700 text-white text-xl font-bold rounded shadow py-2 px-4 mx-auto">Submit</button>
</form>

<h1 class="text-xl font-semibold m-4">{uaDate}</h1>
<h2 class="text-2xl font-black m-4">Today: {todaysCount}</h2>

{
  todaysRecords.map(({ id, recorded, reason }) => (
    <article class="bg-white p-4 mb-4 shadow rounded">
      <p>{recorded.toLocaleTimeString("uk-UA", {
  timeZone: "Europe/Kyiv",
  timeStyle: "short",
})} - {reason}</p>
    </article>
  ))
}



</Layout>