<form method="POST" style="display: grid" class="rounded bg-amber-300 p-4">
  <label for="reason">Reason</label>
  <select id="reason" name="reason" required class="bg-white mb-4 text-xl">
    <option value="Good morning">Good morning</option>
    <option value="Brake">Brake</option>
    <option value="After meal">After meal</option>
	<option value="Emocional">Emocional</option>
	<option value="Good night">Good night</option>
	<option value="Other">Other</option>
  </select>

  <button type="submit" class="bg-amber-700 text-white text-xl font-bold rounded shadow py-2 px-4 mx-auto">Submit</button>
</form>